.navbar {
	position: fixed;
	font-family: "poppins", sans-serif;
	width: 100%;
	/* background: #7579e7; */
	padding: 35px 0 0 200px;
	transition: all 0.3s ease;
	display: flex;
	align-items: baseline;
}

.navbar.sticky {
	z-index: 1000;
	padding: 13px 0 15px 200px;
	background: #a685e2;
	align-items: center;
}

.navbar__logo a {
	font-size: 35px;
	font-weight: 600;
	color: #000;
}

.navbar__logo a span {
	color: #7579e7;
	transition: all 0.3s ease;
}

.navbar.sticky .navbar__logo a span {
	color: #000;
}

.navbar__menu {
	margin-left: 150px;
}
.navbar__menu li {
	list-style: none;
	display: inline-block;
}
.navbar__menu li a {
	margin-left: 55px;
	color: #2e2e2e;

	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;

	transition: color 0.3s ease;
}

.navbar__menu li a:hover {
	color: #7579e7;
}

.navbar.sticky .navbar__menu li a:hover {
	color: #000;
}

.navbar__burger {
	color: #000;
	font-size: 25px;
	cursor: pointer;
	display: none;
}
