.skills {
	color: #000;
	background: #000;
}

.skills .title::before {
	background: #000;
	width: 160px;
}

.skills .title::after {
	background: #000;
	content: "What I know";
}

.skills__card {
	width: calc(30% - 20px);
	background: #333;
	text-align: center;
	border-radius: 5px;
	padding: 15px 20px;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-bottom: 30px;
}

.skills__card:hover {
	background: #7579e7;
}

.skills__cardBox {
	transition: all 0.3s ease;
}

.skills__cardBox:hover {
	transform: scale(1.05);
}

.skills__cardBox i {
	font-size: 60px;
}

.skills__cardBox i .text {
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}
